############################ mapgd init file #####################################
# For descriptions of all options, as well as some more in-depth information
# on setting them, consult the file README.md in the doc/ directory.
